* { margin: 0; padding: 0; box-sizing: border-box; -webkit-print-color-adjust: exact; }


body {
  background-color: #ebebeb;
}

html {
  font-size: 73%;
}

.paper-A4 {
  position: relative;
  background: white;
  /* height: 90rem; */
  width: 69.5rem;
  background: url(mars-polyclinic-bg2.png);
  /* box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px; */
  padding: 2.3rem 0rem 1.2rem 0;
  background-size: 100% 100%;
}

.paper-A4::before {
    content: '';
    position: absolute;
    top: 1rem;
    left: 0;
    height: 1.4rem;
    width: 100%;
    background: #0b6baf;
}

.logo-img {
  height: 11rem;
}
.iso-logo {
  height: 6rem;
}
.heading {
  font-weight: 700;
  color: #0b6baf;
  font-size: 2.8rem;
  margin-bottom: 0;
}
.tagLine {
  font-size: 1.3rem;
  font-weight: 500;
  color: #727272;
  letter-spacing: 1px;
}
.bx {
  vertical-align: bottom;
}

.letter-body {
  height: 67.9rem;
  padding-bottom: 71px;
}
#watermark {
  position: absolute;
  height: 25rem;
  width: auto;
  top: 50%;
  left: 50%;
  opacity: 0.2;
  transform: translate(-52%, -81%);
}
